extends layout

block content

    a.btn.btn-danger(href="/") Back
    h2.
      Journal Entry
    .messagetable
      table
       thead
        tr
       tbody
        each key, i in usermessage
         tr
          td #{key.userdate}
         tr          
          td #{key.message}
