extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        //- input#inputUserName(type="text", placeholder="username", name="username")
        //- input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        input#inputUserName(type="text", placeholder="userdate", name="userdate")
        input#inputUserMessage(type="text", placeholder="usermessage", name="usermessage")
        button#btnSubmit(type="submit") submit
