extends layout

block content

  p Journal Entries

 
   table
     thead
        tr
          td Date 
          //- td Email
          td Message
          td
      tbody
        each user, i in userlist
         tr
            td
              =user.date
            //- td
            //-   =user.email
            td
              =user.message
            td
              a.btn.btn-danger(href="/#{user._id}") Delete
