body {
  padding: 50px;
  font: 20px "Times New Roman", Helvetica, Arial, sans-serif !important;
  background-color: lightblue !important;

}
h1{

   color: blue !important;
   font-family: verdana !important;
   font-size: 200%;

}
h2{

   color: blue !important;
   font-family: verdana !important;
   font-size: 200%;

}

a {
  color: #00B7FF;
}

table {

  margin-top: 80px;
}

form{
  margin-top: 50px;
}
